body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  height: 35px;
  font-weight: bold;
  color: #777;
  background: rgb(255, 255, 250);
}

.active > header {
    color: black;
}

.active {
  color: black;
}

header:hover {
  background: rgb(236, 247, 247);
  cursor: pointer;
}

button {
  background: none;
  display: flex;
  border: none;
}

.fa-angle-down {
  color: rgb(108, 140, 247);
  font-size: 20px;
  
}

p {
  display: inline-block;
  width: 50%;
  padding: 10px;
}

img{
    width: 50%;
}

.body {
    display: flex;
}

.hide {
  display: none;
}

.flipArrow {
    transform: rotate(180deg);
}

@media screen and (max-width: 800px) {

    .body {
        flex-direction: column;
    }
    p, img {
        width: 95%;
        padding: 10px 20px;
    }
}
